html{
	background: #F5DEB3;
}
.header{
	background: black;
	color: #FFFFFF;
	text-align: left;
	height: 50px;
	padding: 5px;

}
.header h1{
	margin: 5px;
}
.main{
	text-align: center;
	margin-top: 5px;
	background: red;
	padding: 10px;
	float: left;
	width: 90%;
}
#card{
	background: #FFFFFF;
	height: 120px;
	width: 120px;
	border-radius: 12px;
	margin: 5px;
	float: left;
}