@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
*{
	padding: 0;
	margin: 0;
}
html{
	background: #F5DEB3;
	font-family: Montserrat, sans-serif;
}
a{
	color: #FFFFFF;
	text-decoration: none;
	padding: 5px 10px;
	float: right;
}
a:hover{
	background-color: orange;
	padding: 5px 10px;
	color: #000000;
}
#barra{
	background-color: #000000;
	color: #FFFFFF;
	padding: 10px;
	height: 40px;
	margin-bottom: 3px;
}
#barra h1{
	float: left;
}
#content{
	background-color: #FFFFFF;
	height: auto;
	padding: 5px;
}
#content p{
	margin: 10px;
	font-size: 10pt;
}
#content h2{
	padding: 5px;
}

/* inicio bestiario */
#best-content{
	align-content: center;
}
.card{
	background-color: #FFFFFF;
	width: 100px;
	height: 130px;
	margin: 5px;
	padding: 5px;
	border-radius: 10px;
	display: inline-grid;
}